asttokens==2.4.0
colorama==0.4.6
enum34==1.1.10
executing==2.0.0
numpy==1.16.6
opencv-python==4.2.0.32
pathlib==1.0.1
pygame==2.0.3
Pygments==2.5.2
pyzbar==0.1.9
six==1.16.0
typing==3.10.0.0
redis==2.7.5
